    /* COMPUTADORA */

@media only screen and (min-width: 1440px) and (max-width: 2600px) {

    body,
    html {
        height: 100%;
        margin-right: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../img/mapa-obscuro.png');
        background-repeat: repeat-y;
    }

    #row {
        width: 100%;
        height: 590px;
        padding: 20px;
        margin-left: 70px;
        margin-right: 70px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .col-4 {
        border-left: #43cea2;
        border-right: #43cea2;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        text-align: center;
    }

    /* CONTENEDOR 1 */

    .container-1 {
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        color: aliceblue;
        font-family: sans-serif;
    }

    .logo-container {
        width: 300px;
        border-radius: 5%;
        margin-left: 15%;
    }

    .logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* CONTENEDOR 2 */

    .container-2 {
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        padding: 20px;
        color: aliceblue;

    }

    .title {
        font-size: 1.4em;
        font-weight: 100;
        text-align: center;
    }

    .input-group {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
    }

    .input-group label {
        margin-bottom: 0px;
    }

    .input-group input {
        border: 1px solid #ccc;
        background-color: transparent;
        font-size: 1em;
        color: aliceblue;
    }


    .submit {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .submit:hover {
        background-color: #0056b3;
    }

    /* CONTENEDOR 2 */

    .container-3 {
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        padding: 20px;
        color: aliceblue;
    }

    .container-4 {
        font-family: sans-serif;
        margin-top: 10px;
        height: 5px;
        width: 20px;
    }

    a {
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px 15px;
        transition: background-color 0.3s;
    }

    a:hover {
        background-color: #0056b3;
    }
}


























    /* CELULAR */

@media only screen and (max-width: 1440px) {
    body,
    html {
        height: 100%;
        background-image: url('../img/mapa-obscuro-90grados.png');
        background-repeat: repeat-y;

    }

    #row {
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .col-4 {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    /* CONTENEDOR 1 */

    .container-1 {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        color: aliceblue;
        font-family: sans-serif;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .logo-container {
        width: 700px;
        border-radius: 5%;
        margin-left: 7%;
    }

    .logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* CONTENEDOR 2 */

    .container-2 {
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        padding: 20px;
        color: aliceblue;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .title {
        color: #ffffff;
        font-size: 58px;
        font-weight: 800;
        text-align: center;
    }

    .input-group {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
    }

    .input-group label {
        margin-bottom: 0px;
    }

    .input-group input {
        border: 1px solid #ccc;
        background-color: transparent;
        font-size: 1em;
        color: aliceblue;
    }


    .submit {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .submit:hover {
        background-color: #0056b3;
    }

    /* CONTENEDOR 3 */

    .container-3 {
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        padding: 20px;
        color: aliceblue;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        margin-top: 10px;
        margin-bottom: 10px;
    }



    #text {
        color: #ffffff;
        font-size: 48px;
    }

    #a {
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px 15px;
        transition: background-color 0.3s;
        text-decoration: none;
    }

    a:hover {
        background-color: #0056b3;
    }
}